<h1>マイタスクリスト TOP</h1>
<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <%= link_to 'マイタスクリスト', tasks_path(current_user) %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>
<div class="text-center">
  <h2>Sign up</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<div class="text-center">
  <h2>Login</h2>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= link_to 'Login now!', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>